<h1>About Me</h1>
<p>I am a Software Developer as well as part time graphics designer that pay great attention to the details and works very fast with clean and understanle code. I also done freelancing for 1 year and do many projects. i have good knowledge or RubyOnRails, PostgreSQL, Data Structures, Algorithms, Java, C++</p>
