<h1>Would you like to work together ? </h1>
<br>
<div class="row">
	<div class="col-md-6">
		<h3>Office Address</h3>
		<p>Gurgaon(122004), Haryana, India</p>
		<h3>Phone Number</h3>
		<p><%= number_to_phone "9650611383"%></p>
		<h3>Email :</h3>
		<p><a href="mailto:bhanugupta.im@gmil.com?subject=PortfolioContact" "email me"> Email me</a></p>	
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.499008293996!2d77.0005660151411!3d28.434370199772705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d17f1158682b1%3A0xf0ed1fd5b82bbfd0!2sShree%20Balaji%20Temple!5e0!3m2!1sen!2sin!4v1590432734957!5m2!1sen!2sin" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</div>
<style>
	.b {
	    text-align: left;
	}
</style>