<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">An Engineer who always hungry to keep learning. I am an enthusiastic, highly motivated person who pays great attention to details. I would like
to use my skills for the growth of organisation.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path,class: "btn btn-lg btn-secondary" %>
  </p>
</div>     